body {
  background: url("./Cloudy.svg");
  background-size: cover;
  background-repeat: no-repeat;
  font-weight: 150;
}

@keyframes heading {
  from {
    opacity: 0;
  }
  to {
    transform: translateY(-200px);
    opacity: 1;
  }
}
.header > h1 {
  text-align: center;
  margin-top: 20rem;
  color: white;
  font-size: 3rem;
  animation-name: heading;
  animation-duration: 4s;
  animation-fill-mode: forwards;
}

.searchBar {
  position: absolute;
  top: 300px;
  left: 220px;
  background-color: white;
  margin: 3rem;
  height: 73px;
  width: 841px;
  border-radius: 30px;
  display: inline-flex;
}

.weatherSearch {
  border: none;
  border-radius: 30px;
  height: 100%;
  padding-left: 1rem;
  font-size: larger;
  width: 600px;
  outline: none;
}

.searchButton {
  height: 95%;
  width: 15rem;
  background: #fbca1f;
  border-style: solid;
  border-color: black;
  font-family: inherit;
  font-weight: 900;
  font-size: 2rem;
  text-align: center;
  border-radius: 30px;
  box-shadow: 0.1em 0.1em;
}

.searchButton:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em;
}

.searchButton:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em;
}

.reportContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.weatherCard {
  background: #2d4578;
  position: absolute;
  left: 34vw;
  top: 18vh;
  width: 30rem;
  height: 36rem;
  border-radius: 34px;
  box-shadow: 20px 20px 41px #23355c, -20px -20px 41px #375594;
}

.weather-rain {
  background: url("../src/weather-gifs/rain.gif");
  background-size: cover;
}

.weather-thunderstorm {
  background: url("../src/weather-gifs/thunderstorm.gif");
}

.weather-drizzle {
  background: url("../src/weather-gifs/drizzle.gif");
  background-size: cover;
  background-repeat: no-repeat;
}

.weather-snow {
  background: url("../src/weather-gifs/snow.gif"),
    url("../src/weather-gifs/night.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.weather-clear {
  background: url("../src/weather-gifs/clear.jpg");
  background-size: cover;
}

.reportError {
  color: red;
  font-size: 3rem;
}

.temp {
  position: absolute;
  right: 7.2vw;
  top: 13.5vh;
  width: 200px;
  color: white;
  font-size: 6rem;
}

.tempIcon {
  height: 17px;
  width: 17px;
  display: inline-block;
  position: absolute;
  top: 30px;
  border-radius: 30px;
  border: solid;
  border-width: 3px;
  border-color: white;
}

.feels_like {
  color: white;
  font-size: 2rem;
}

.feels_like > p {
  position: absolute;
  left: 2vw;
  top: 29.5vh;
}

.feels_temp {
  position: absolute;
  left: 4.4vw;
  top: 38vh;
}

.feelsLikeIcon {
  height: 10px;
  width: 10px;
  display: inline-block;
  position: absolute;
  top: 38.7vh;
  left: 7.2vw;
  border-radius: 30px;
  border: solid;
  border-width: 1px;
  border-color: white;
}
.temp_max {
  color: white;
  font-size: 1.5rem;
  position: absolute;
  top: 25vh;
  left: 12.3vw;
}

.temp_min {
  color: white;
  font-size: 1.5rem;
  position: absolute;
  top: 25vh;
  left: 17.5vw;
}

.humidity {
  color: white;
  font-size: 2rem;
}

.humidity > p {
  position: absolute;
  top: 43vh;
  left: 2vw;
}

.humidity > div {
  position: absolute;
  top: 52vh;
  left: 4vw;
}

.queryLocation {
  color: white;
  text-align: center;
  padding-top: 1rem;
  font-size: 4rem;
  font-weight: 150;
}
